     <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <!--<div class="fill" style="background-image:url('{{ site.baseurl }}/resources/images/alpes.jpg');"></div>-->
                <div class="fill" style="background-color: #b84d45; background-image:url('{{ site.baseurl }}/resources/images/bg.png'); "></div>
                <div class="container">
                 <div class="row">
                    <div class="carousel-caption">
                      <h2>Resilient Component-based software platform</h2>
                    </div>
                  </div>
                  <div class="row">            
                    <div class="carousel-description">
                      <p>COHORTE is a cross-platform runtime for executing and managing robust and reliable distributed Service-oriented Component-based applications. </p>
                      <br/><br/><br/>
                      <br/>
                      <a class="btn btn-success" href="{{ site.baseurl }}/docs/1.x/"><b>Documentation</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
  <a class="btn btn-danger" href="{{ site.baseurl }}/downloads/"><b>Downloads</b></a>                    
                    </div>
                    <div class="carousel-image">
                      <img src="{{site.baseurl}}/resources/images/carousel/page1.png"></img>
                    </div>
                 </div>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <!--<div class="fill" style="background-image:url('{{ site.baseurl }}/resources/images/alpes.jpg');"></div>-->
                <div class="fill" style="background-color: #80BD01; '); "></div>
                <div class="container">
                  <div class="row">
                 <div class="carousel-caption">
                    <h2>Distributed Applications become Easy </h2>
                 </div>
                 <div class="carousel-description">
                    <p>With COHORTE, your distributed applications are now easy to develop, manage and monitor. Thanks to COHORTE's Remote Services and Its generic communication infrastructure.</p>
                    <br/>
                    <br/>
                    <a class="btn btn-danger" href="{{ site.baseurl }}/docs/1.x/components"><b>Learn more</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn btn-danger" href="{{ site.baseurl }}/docs/1.x/tutorials/temper"><b>Try the Temper tutorial</b></a>                    
                    </div>
                    <div class="carousel-image">
                      <img src="{{site.baseurl}}/resources/images/carousel/page2.png"></img>
                    </div>
                 </div>
                </div>
            </div>
            <!--
            <div class="item">                
                 <div class="fill" style="background-image:url('{{ site.baseurl }}/resources/images/alpes.jpg');"></div>                
                 <div class="container">
                   <div class="row">
                     <div class="carousel-caption">
                        <h2>Slogon 3</h2>
                     </div>
                     <div class="carousel-description">
                    <p style="color:black">COHORTE is a platform for developing and rolling out robust and reliable software. Software produced with COHORTE has a high level of robustness and reliability since its is made up of a range of components and services protected from one another by isolation containers. </p>
                    <br/>
                    <br/>
                    <a class="btn btn-success" href="{{ site.baseurl }}/docs/1.x/"><b>Documentation</b></a>&nbsp;&nbsp;&nbsp;&nbsp;
<a class="btn btn-danger" href="{{ site.baseurl }}/downloads/"><b>Downloads</b></a>                    
                    </div>
                 </div>
                </div>
            </div>
            -->
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>