<div class="case-studies-box">
  <div class="container">
    <div class="case-studies-container-main">
      <div class="row">
        <h2>Application Domains</h2>      
      </div> <!-- /.row -->
      <div class="row">      



          <div class="col-md-4">
            
              <a class="panel panel-image" href="{{ site.baseurl }}/case-studies/IoT">
                <div class="panel-icon">
                  <i class="fa fa-clock-o icon"></i>
                </div>
                <div class="panel-heading"><img class="img-responsive-sm" alt="IoT" width="360" height="141" src="{{ site.baseurl }}/resources/images/case-studies/IoT.jpg"></div>
                <div class="panel-body case-stadies-body">
                  <h3 class="panel-title">Internet of Things</h3>
                  <p>COHORTE Helps create network of connected physical objects by encapsulating them within high-level software services which represents sensors, activators, controllers, software systems, etc.<br>
                  
                  </p>
                </div>
              </a>
          </div>
          
          <div class="col-md-4 panel-item">            
            
              <a class="panel panel-image" href="{{ site.baseurl }}/case-studies/data-collection">
                <div class="panel-icon">
                  <i class="fa fa-clock-o icon"></i>
                </div>
                <div class="panel-heading"><img class="img-responsive-sm" alt="Project planning" width="360" height="141" src="{{ site.baseurl }}/resources/images/case-studies/data-gathering.jpg"></div>
                <div class="panel-body case-stadies-body">
                  <h3 class="panel-title">Data Collection Systems</h3>
                  <p>COHORTE helps the creation of distributed flexible Data Collection Systems for different applications like :<br>
                  </p>
                  <ul style="text-align:left;">
                    <li>Remote Monitoring</li>
                    <li>Financial / Retail</li>
                    <li>Energy</li>
                    <li>Transportation</li>
                    <li>Healthcare</li>
                  </ul>
                  
                </div>
              </a>
            
          </div>



          <div class="col-md-4">
            
             <a class="panel panel-image" href="{{ site.baseurl }}/case-studies/continuous-delivery">
                <div class="panel-icon">
                  <i class="fa fa-clock-o icon"></i>
                </div>
                <div class="panel-heading"><img class="img-responsive-sm" alt="Project planning" width="360" height="141" src="{{ site.baseurl }}/resources/images/case-studies/continuous_delivery.jpg"></div>
                <div class="panel-body case-stadies-body">
                  <h3 class="panel-title">Continuous Delivery</h3>
                  <p>COHORTE helps automate and improve the proccess of software delivery by providing a mechanism for self-deployment and self-instantiation of components. This ensures short-time deployment and maintenance periods and by then reduce related costs.</p>
                </div>
              </a>
            

          </div>

      </div>
      <br/><br/>
      <!--
      <div class="row">
        <div class="key-point-learn-more">
        <a class="btn btn-danger " href="#"><b>More case studies</b></a>&nbsp;
        </div>
      </div>
      -->
    </div>
  </div> <!-- /.container -->
</div> <!-- /.key-points -->