<div class="case-studies-box">
  <div class="container">
    <div class="case-studies-container-main">
      <div class="row">
        <h2>Application Domains</h2>      
      </div> <!-- /.row -->
      <div class="row">      
          <div class="col-md-4 panel-item">            
            
              <a class="panel panel-image" href="#">
                <div class="panel-icon">
                  <i class="fa fa-clock-o icon"></i>
                </div>
                <div class="panel-heading"><img class="img-responsive-sm" alt="Project planning" width="360" height="141" src="{{ site.baseurl }}/resources/images/case-studies/data-gathering.jpg"></div>
                <div class="panel-body">
                  <h3 class="panel-title">Data gathering</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu pharetra felis.est.<br>
                  <ul style="text-align:left;">
                    <li>Remote Monitoring</li>
                    <li>Financial / Retail</li>
                    <li>Energy</li>
                    <li>Transportation</li>
                    <li>Healthcare</li>
                  </ul>
                  </p>
                </div>
              </a>
            
          </div>
          <div class="col-md-4">
            
             <a class="panel panel-image" href="#">
                <div class="panel-icon">
                  <i class="fa fa-clock-o icon"></i>
                </div>
                <div class="panel-heading"><img class="img-responsive-sm" alt="Project planning" width="360" height="141" src="{{ site.baseurl }}/resources/images/case-studies/system-integration.jpg"></div>
                <div class="panel-body">
                  <h3 class="panel-title">Systems integration</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu pharetra felis.est.</p>
                </div>
              </a>
            

          </div>
          <div class="col-md-4">
            
              <a class="panel panel-image" href="#">
                <div class="panel-icon">
                  <i class="fa fa-clock-o icon"></i>
                </div>
                <div class="panel-heading"><img class="img-responsive-sm" alt="Project planning" width="360" height="141" src="{{ site.baseurl }}/resources/images/case-studies/it-automation.jpg"></div>
                <div class="panel-body">
                  <h3 class="panel-title">IT automation</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu pharetra felis.est.</p>
                </div>
              </a>
            

          </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="key-point-learn-more">
        <a class="btn btn-danger " href="#"><b>More case studies</b></a>&nbsp;
        </div>
      </div>
    </div>
  </div> <!-- /.container -->
</div> <!-- /.key-points -->