
<ul class="nav">          
      <li><a href="{{ site.baseurl }}/docs/1.x/">Documentation</a></li>
      <li><a href="{{ site.baseurl }}/downloads/">Downloads</a></li>
      <li><a href="{{ site.baseurl }}/community/">Community</a></li>
      <li><a href="{{ site.baseurl }}/news">News</a></li>
      <!--li><a href="{{ site.baseurl }}/contribute/">Contribute</a></li-->
      <li>
        <a href="http://github.com/isandlatech/"><img src="{{ site.baseurl }}/resources/images/github-logo.png" alt="GitHub Logo" /></a>
        <div class="toptip">Source Code</div>
              </li>    
</ul>    